{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class='features'>
    <h1>Про нас</h1>
        <h3>Что отличает наш сайт от десятков других?</h3>
        <p>Из огромного количества астрономической информации, которую я просматриваю
            каждый день, я выбираю, на свой взгляд, самые интересные события и явления.</p><br>
        <h3><b>Астрономическая инфографика</b></h3>
        <p>Во многих статьях на нашем ресурсе присутствует инфографика на русском языке, которая заметно облегчает
            чтение и наглядно демонстрирует астрономические явления или объекты. Вся инфоргафика также переведена мною
            (если не указанно другое) и взята
            с авторитетных зарубежных ресурсов, таких как NASA, ESA и других. Пример инфографики в статье про телескоп E-ELT.</p><br>
        <h3><b>Структурированный материал</b></h3>
        <p>В каждой статье я стараюсь максимально разбавить текст наглядными фотографиями и видео. Фотографиям я уделяю
            особое внимание, стараясь разместить не «замыленные» всеми ресурсами снимки, которые я беру со специализированных
            ресурсов, сайтов космических миссий и работы любителей обрабатывать RAW снимки космических аппаратов и телескопов.
            Все это нацеленно на то, чтобы на страницах нашего сайта вы получили исчерпывающую информацию и с удовольствием
            провели время.</p>
</div>
{% endblock %}