{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class='features'>
    <h1>{{ title }}</h1>
    <p>Мы с вами находимся в галактике под названием Млечный Путь, которая движется в пространстве
        с огромной скоростью. Планета Земля располагается далеко от галактического центра, приблизительно
        на расстоянии 25000 световых лет. Современное человечество пытается проникнуть в тайны и разгадать все загадки
        нашей Галактики: ее строение, физическую природу и эволюцию. Наука, занимающаяся подобными
        вопросами, называется – Астрономия.</p><br>
    <h4>Астрономия сегодня</h4><br>
    <p>Современные оптические телескопы способны видеть объекты, находящиеся на расстоянии миллионов
        световых лет от Земли. Радиоволны и инфракрасное излучение позволяют проникать
        туда, где небесные тела скрыты от нас пылью. Теперь наблюдать за космическими объектами можно даже через интернет.</p><br>
    <p>На сегодняшний день происходит качественное развитие техники и самих наблюдений в радио, гамма, УФ, ИК диапазонах т.е.
        астрономия затрагивает весь электромагнитный спектр.
        Благодаря новым, сверхмощным телескопам была получена масса новых данных об окружающем нас пространстве.</p><br>
    <p>Надеюсь, на страницах нашего сайта вы откроете для себя поистине удивительный и загадочный космический мир!</p>
</div>

{% endblock %}